*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  .app-container {
    background-color:rgb(173, 187, 146);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}